<main class="container mx-auto px-4 h-screen flex flex-col justify-center items-center bg-red-800 gap-12">
        <h1 class="text-4xl text-white">Welcome to the World of Pokemon!</h1>
        
        <div class="flex flex-row gap-12">
            <a class="bg-red-700 h-8 w-24 ring-2 ring-white text-white rounded 
            flex justify-center items-center hover:bg-white hover:text-red-700" 
            routerLink="/login">Login</a>

            <a class="bg-red-700 h-8 w-24 ring-2 ring-white text-white rounded 
            flex justify-center items-center hover:bg-white hover:text-red-700" 
            routerLink="/register">Register</a>
        </div>
</main>
