<li *ngIf="pokemon" 
    [ngClass]="{'border-white': isInTeam, 'border-red-700': !isInTeam}"
    class="relative h-52 min-w-52 w-full bg-red-600 border-4 p-3 shadow rounded-lg flex flex-col justify-between items-center">
    
    <!-- Pokeball -->
    <div class="absolute top-0 bottom-0 w-full p-2 flex flex-row justify-start">
        <img *ngIf="isVisible" src="assets/img/pokeball_sprite.png" alt="pokeball"
            [ngClass]="{'animate__fadeOut': isBeingRemoved, 'animate__rotateIn': isBeingAdded}" 
            class="w-8 h-8 animate__animated">
    </div>

    <div class="h-full w-full absolute top-0 bottom-0 flex flex-col justify-evenly items-center">
        
        <!-- Pokemon Sprite -->
        <section class="flex items-center">
            <img src={{pokemon.image}} onerror="this.onerror=null; this.src='assets/img/missingno.png'" alt={{pokemon.name}} class="h-24">
        </section>
    
        <!-- Pokemon Name -->
        <section class="text-xl text-white uppercase">
            <span>{{ pokemon!.name }}</span>
        </section>
    
        <!-- Buttons -->
        <section>
            <div class="flex flex-row justify-evenly w-full">
                
                <ng-container *ngIf="isInTeam; then removeFromTeam else addToTeam"></ng-container>
                
                <ng-template #addToTeam>
                    <button (click)="onIChooseYouClick()" class="mx-2 p-2 bg-blue-500 rounded w-20" [disabled]="loading">
                        Add 
                    </button>
                </ng-template>
                
                <ng-template #removeFromTeam>
                    <button (click)="onIChooseYouClick()" class="mx-2 p-2 bg-red-500 rounded w-20" [disabled]="loading">
                        Remove
                    </button>
                </ng-template>
                
                <button (click)="onSummaryClick(pokemon)" type="button" class="mx-2 p-2 bg-green-500 rounded w-20">Summary</button>
            
            </div>
        </section>
    </div>

</li>