<li *ngIf="pokemon" class="bg-slate-200 my-4 p-3 shadow rounded flex justify-between items-center">

    <section class="flex items-center">
        <img src={{pokemon.image}} alt={{pokemon.name}} />
        <img *ngIf="isFavorite" src="assets/img/pokeball.png" alt="pokeball"
            class="w-10 h-10 animate__animated animate__bounceInRight" />
    </section>

    <section class="text-2xl">
        <span>{{ pokemon!.name }}</span>
    </section>

    <section>

        <button type="button" class="mx-2 p-2 bg-green-600 rounded">Stats</button>

        <ng-container *ngIf="isFavorite; then removeFromTeam else addToTeam"></ng-container>
        <ng-template #addToTeam>
            <button (click)="onIChooseYouClick()" class="mx-2 p-2 bg-blue-600 rounded">I choose you!</button>
        </ng-template>
        <ng-template #removeFromTeam>
            <button (click)="onIChooseYouClick()" class="mx-2 p-2 bg-red-600 rounded">Dispatch from team
            </button>
        </ng-template>


    </section>


</li>