<form class="w-full" #registerFrom="ngForm" (ngSubmit)="registerSubmit(registerFrom)">

    <fieldset class="mb-3 flex flex-col items-center">
        <label for="username" class="block">Enter your name:</label>
        <input type="text" 
            ngModel
            #username="ngModel"
            name="username" id="username" 
            placeholder="johndoe" 
            class="border border-slate-300 p-2 rounded w-full">
    </fieldset>

    <div class="flex flex-row justify-center">
        <button type="submit" class="bg-red-700 ring-2 ring-white hover:bg-white text-white hover:text-red-700 py-2 px-4 rounded transition-all duration-300">Register</button>
    </div>

</form>
