<main class="h-screen w-full flex flex-col justify-start">
    <app-navbar class="max-h-1/10"></app-navbar>
    <div class="bg-red-800 px-4 max-h-9/10 overflow-y-scroll">
        <app-pagination-menu [paginationElements]="paginationElements" (pageClicked)="getNewPage($event)"></app-pagination-menu>
        <app-pokemon-list [pokemon]="pokemon"></app-pokemon-list>
        <app-pagination-menu [paginationElements]="paginationElements" (pageClicked)="getNewPage($event)"></app-pagination-menu>
    </div>
</main>